<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ligf.springboot.dao.UserDao">
	<resultMap type="com.ligf.springboot.domain.User" id="ResultMap">
		<result column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="age" property="age"/>
		<result column="sex" property="sex"/>
		<result column="phone_num" property="phoneNum"/>
	</resultMap>
	
	<sql id="BaseColumnList">
	id, name, age, sex, phone_num
	</sql>
	
	<select id="selectAllUser" resultMap="ResultMap">
		select
		<include refid="BaseColumnList"></include>
		from
		tb_user
	</select>

</mapper>